<div class="container-fluid">

    <div class="container">
        <mat-card class="example-card">
            <img mat-card-image src="../../assets/Searchwork.svg" alt="Photo of a Shiba Inu">
            <mat-card-content>
                <p class="texto">
                    Cansado de buscar y buscar trabajo, tranquilo, en nuestra pagina web podras publicar tus habilitades y te aseguramos que alguien estara interesado en contratarte.
                </p>
            </mat-card-content>
        </mat-card>


    </div>
    <app-footer></app-footer>
</div>