<div class="container">
    <main class="grid">

        <mat-card class="example-card" *ngFor="let publicaciones of publicacion">
            <mat-card-header>
                <div mat-card-avatar class="example-header-image"></div>
                <mat-card-title>Tus Publicaciones</mat-card-title>
                <mat-card-subtitle><strong>Direccion:</strong> {{publicaciones.Publicacion_Direccion}}
                </mat-card-subtitle>
            </mat-card-header>
            <mat-card-content>
                <strong>Descripcion:</strong>
                <div class="texto">
                    {{publicaciones.Publicacion_Descripcion}}
                </div>

                <ol class="none">
                    <li> <i class="material-icons price"> loyalty </i><strong>Precio:</strong> {{publicaciones.Publicacion_Presupuesto}}</li>
                    <li><i class="material-icons work"> work </i><strong>Tipo de Trabajo:</strong> {{publicaciones.TipoTrabajo_Tipo}}</li>
                    <li> <i class="material-icons house"> house </i><strong>Municipio:</strong> {{publicaciones.Municipio_Municipio}}</li>
                    <li> <i class="material-icons map"> map </i><strong>Departamento:</strong> {{publicaciones.Departamento_Departamento}}</li>
                </ol>
            </mat-card-content>

            <mat-card-actions>
                <!--<button mat-button>Eliminar Publicacion</button>-->
            </mat-card-actions>
        </mat-card>


    </main>

</div>